In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

pd.set_option('display.max_columns', 6) # display 6 columns for viewing purposes
pd.options.display.float_format = '{:,.2f}'.format # reduce decimal points to 2

start, end = dt.datetime(2006, 1, 1), dt.datetime(2016, 1, 1)
realwage = web.DataReader('RMW', 'oecd', start, end)

In [2]:
realwage.head()

Country                                     Ireland         \
Series     In 2015 constant prices at 2015 USD PPPs
Pay period                                   Annual Hourly
Time
2006-01-01                                17,132.44   8.24
2007-01-01                                18,100.92   8.70
2008-01-01                                17,747.41   8.53
2009-01-01                                18,580.14   8.93
2010-01-01                                18,755.83   9.02

Country                                                        ...    \
Series     In 2015 constant prices at 2015 USD exchange rates  ...
Pay period                                             Annual  ...
Time                                                           ...
2006-01-01                                          19,090.54  ...
2007-01-01                                          20,169.70  ...
2008-01-01                                          19,775.78  ...
2009-01-01                                          20,703.69  ...
2010-01-01                                          20,899.47  ...

Country                                  Costa Rica  \
Series     In 2015 constant prices at 2015 USD PPPs
Pay period                                   Hourly
Time
2006-01-01                                      nan
2007-01-01                                      nan
2008-01-01                                      nan
2009-01-01                                      nan
2010-01-01                                      nan

Country
Series     In 2015 constant prices at 2015 USD exchange rates
Pay period                                             Annual Hourly
Time
2006-01-01                                                nan    nan
2007-01-01                                                nan    nan
2008-01-01                                                nan    nan
2009-01-01                                                nan    nan
2010-01-01                                                nan    nan

[5 rows x 128 columns]

In [3]:
type(realwage.index)

pandas.tseries.index.DatetimeIndex

In [4]:
type(realwage.columns)

pandas.indexes.multi.MultiIndex

In [5]:
realwage.columns.names

FrozenList(['Country', 'Series', 'Pay period'])

In [6]:
realwage['United States'].head()

Series     In 2015 constant prices at 2015 USD PPPs         \
Pay period                                   Annual Hourly
Time
2006-01-01                                12,594.40   6.05
2007-01-01                                12,974.40   6.24
2008-01-01                                14,097.56   6.78
2009-01-01                                15,756.42   7.58
2010-01-01                                16,391.31   7.88

Series     In 2015 constant prices at 2015 USD exchange rates
Pay period                                             Annual Hourly
Time
2006-01-01                                          12,594.40   6.05
2007-01-01                                          12,974.40   6.24
2008-01-01                                          14,097.56   6.78
2009-01-01                                          15,756.42   7.58
2010-01-01                                          16,391.31   7.88

In [7]:
realwage = realwage.sortlevel(axis=1)
realwage.head()

Country                                   Australia         \
Series     In 2015 constant prices at 2015 USD PPPs
Pay period                                   Annual Hourly
Time
2006-01-01                                20,410.65  10.33
2007-01-01                                21,087.57  10.67
2008-01-01                                20,718.24  10.48
2009-01-01                                20,984.77  10.62
2010-01-01                                20,879.33  10.57

Country                                                        ...    \
Series     In 2015 constant prices at 2015 USD exchange rates  ...
Pay period                                             Annual  ...
Time                                                           ...
2006-01-01                                          23,826.64  ...
2007-01-01                                          24,616.84  ...
2008-01-01                                          24,185.70  ...
2009-01-01                                          24,496.84  ...
2010-01-01                                          24,373.76  ...

Country                               United States  \
Series     In 2015 constant prices at 2015 USD PPPs
Pay period                                   Hourly
Time
2006-01-01                                     6.05
2007-01-01                                     6.24
2008-01-01                                     6.78
2009-01-01                                     7.58
2010-01-01                                     7.88

Country
Series     In 2015 constant prices at 2015 USD exchange rates
Pay period                                             Annual Hourly
Time
2006-01-01                                          12,594.40   6.05
2007-01-01                                          12,974.40   6.24
2008-01-01                                          14,097.56   6.78
2009-01-01                                          15,756.42   7.58
2010-01-01                                          16,391.31   7.88

[5 rows x 128 columns]

In [8]:
realwage.stack().head()

Country                                              Australia  \
Series                In 2015 constant prices at 2015 USD PPPs
Time       Pay period
2006-01-01 Annual                                    20,410.65
           Hourly                                        10.33
2007-01-01 Annual                                    21,087.57
           Hourly                                        10.67
2008-01-01 Annual                                    20,718.24

Country                                                                   \
Series                In 2015 constant prices at 2015 USD exchange rates
Time       Pay period
2006-01-01 Annual                                              23,826.64
           Hourly                                                  12.06
2007-01-01 Annual                                              24,616.84
           Hourly                                                  12.46
2008-01-01 Annual                                              24,185.70

Country                                                Belgium  \
Series                In 2015 constant prices at 2015 USD PPPs
Time       Pay period
2006-01-01 Annual                                    21,042.28
           Hourly                                        10.09
2007-01-01 Annual                                    21,310.05
           Hourly                                        10.22
2008-01-01 Annual                                    21,416.96

Country                                      ...                          \
Series                                       ...
Time       Pay period                        ...
2006-01-01 Annual                            ...
           Hourly                            ...
2007-01-01 Annual                            ...
           Hourly                            ...
2008-01-01 Annual                            ...

Country                                                   United Kingdom  \
Series                In 2015 constant prices at 2015 USD exchange rates
Time       Pay period
2006-01-01 Annual                                              20,376.32
           Hourly                                                   9.81
2007-01-01 Annual                                              20,954.13
           Hourly                                                  10.07
2008-01-01 Annual                                              20,902.87

Country                                          United States  \
Series                In 2015 constant prices at 2015 USD PPPs
Time       Pay period
2006-01-01 Annual                                    12,594.40
           Hourly                                         6.05
2007-01-01 Annual                                    12,974.40
           Hourly                                         6.24
2008-01-01 Annual                                    14,097.56

Country
Series                In 2015 constant prices at 2015 USD exchange rates
Time       Pay period
2006-01-01 Annual                                              12,594.40
           Hourly                                                   6.05
2007-01-01 Annual                                              12,974.40
           Hourly                                                   6.24
2008-01-01 Annual                                              14,097.56

[5 rows x 64 columns]

In [9]:
realwage.stack(level='Country').head()

Series               In 2015 constant prices at 2015 USD PPPs         \
Pay period                                             Annual Hourly
Time       Country
2006-01-01 Australia                                20,410.65  10.33
           Belgium                                  21,042.28  10.09
           Brazil                                    3,310.51   1.41
           Canada                                   13,649.69   6.56
           Chile                                     5,201.65   2.22

Series               In 2015 constant prices at 2015 USD exchange rates
Pay period                                                       Annual Hourly
Time       Country
2006-01-01 Australia                                          23,826.64  12.06
           Belgium                                            20,228.74   9.70
           Brazil                                              2,032.87   0.87
           Canada                                             14,335.12   6.89
           Chile                                               3,333.76   1.42

In [11]:
realwage['2015'].stack(level=(1,2)).transpose().head()

Time                                     2015-01-01         \
Series     In 2015 constant prices at 2015 USD PPPs
Pay period                                   Annual Hourly
Country
Australia                                 21,715.53  10.99
Belgium                                   21,588.12  10.35
Brazil                                     4,628.63   2.00
Canada                                    16,536.83   7.95
Chile                                      6,633.56   2.80

Time
Series     In 2015 constant prices at 2015 USD exchange rates
Pay period                                             Annual Hourly
Country
Australia                                           25,349.90  12.83
Belgium                                             20,753.48   9.95
Brazil                                               2,842.28   1.21
Canada                                              17,367.24   8.35
Chile                                                4,251.49   1.81

In [12]:
realwage_f = realwage.xs(('Hourly', 'In 2015 constant prices at 2015 USD exchange rates'),
                       level=('Pay period', 'Series'), axis=1)
realwage_f.head()

Country,Australia,Belgium,Brazil,...,Turkey,United Kingdom,United States
Time,,,,,,,
2006-01-01,12.06,9.70,0.87,...,2.27,9.81,6.05
2007-01-01,12.46,9.82,0.92,...,2.26,10.07,6.24
2008-01-01,12.24,9.87,0.96,...,2.22,10.04,6.78
2009-01-01,12.40,10.21,1.03,...,2.28,10.15,7.58
2010-01-01,12.34,10.05,1.08,...,2.30,9.96,7.88

In [13]:
worlddata = pd.read_csv('data\countries.csv', sep=';')
worlddata.head()

OSError: File b'countries.csv' does not exist